include ./pug/components/_head.pug
doctype html
html(lang="es")
    +head("description", "color", "urlico", "urlcss1", "urlcss2", "urlcss3", "urlfont1", "urlfont2", "tittle")
    body 
    //- include ruta header 
    //- include ruta contenido o varios 
    //- include footer