include ./pug/components/head.pug
doctype html
html(lang="es")
+head("descripcion, urlico, urlcss1, urlcss2, urlcss3, urlfont1, urlfont2, titulo")
body 
    //- include ruta header 
    //- include ruta contenido o varios 
    //- include footer